* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(31, 33, 40, 1);
}

main {
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.logo{
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding: 27px 0;
}

.fields-container {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 20px;
    max-width: 400px;
}

.fields-container input, .container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.fields-container input {
    border: 1px solid #dddfe2;
    font-size: 14px;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
    border-radius: 6px;
}

.fields-container input:focus {
    border-color: rgba(161, 98, 247, 1);
    box-shadow: 0 0 0 2px #e7f3ff;
}

.container .btn-login{
    font-family: 'Inter', sans-serif;
    color: rgba(255, 250, 247, 1);
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(161, 98, 247, 1);
    border: none;
    border-radius: 6px;
    padding: 0 16px;
}

.btn-login:hover {
    color: white;
    box-shadow: 0 0 7px rgba(161, 98, 247, 1);
    background-color: rgba(161, 98, 247, 1);
}

.btn-login:active{
    background-color: rgb(137, 85, 206);
}

footer {
    height: 38px;
    position: absolute;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
    width: 100%;
    bottom: 0;
}

h6{
    font-family: 'Outfit', sans-serif;
    color: rgba(0, 0, 0, 0.26);
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}