.side-nav{
    height:100vh;
    max-width: 248px;
    position:relative;
    top:0;
    left:0;
    z-index:5;
    background-color: rgba(255, 255, 255, 1);
    user-select: none;
}

.logo{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: rgba(31, 33, 40, 1);
    padding-bottom: 10px;
}

.side-nav-top{
    list-style-type: none;
    padding: 0.5em 0;
    margin: 0;
}

.side-nav-bottom{
    list-style-type: none;
    padding: 0;
    margin: 0;
    bottom: 2%;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.side-nav-top li {
    padding: 0.2em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    color: rgba(95, 97, 101, 1);
}

.link-container{
    height: 35px;
    width: 95%;
    border-radius: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.link-container img{
    padding-right: 8px;
    padding-left: 4px;
}

.link-container:hover{
    background-color: rgba(240, 241, 243, 1);
}

.link-container:active{
    background-color: rgb(224, 225, 227);
}

.selected{
    width: 95%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(240, 241, 243, 1);
}

.selected:active{
    background-color: rgb(224, 225, 227);
}

.side-nav-bottom li{
    padding: 0.5em 0.5em 0.5em 2.9em;
    font-size: 0.95em;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    float: left;
    color: rgba(95, 97, 101, 1);
}

.side-nav-bottom li img{
    vertical-align:middle;
}

#car-icon {width:20px; height:20px; }
#wheel-icon {width:20px; height:20px; }
#orders-icon {width:20px; height:20px; }
#ext-icon {width:18px; height:18px; }

.side-nav-bottom a:hover{
    text-decoration: underline;
}

.circ-image{
    width:35px;
    height: 35px;
    border-radius:50%;
    overflow:hidden;
}


body{
    font-family: 'DM Sans', sans-serif;
    background-color: rgba(249, 249, 249, 1);
    margin: 0;
}
main{
    align-items: center;
    display: flex;
    background-color: rgba(249, 249, 249, 1);

}

.display{
    height:100vh;
    position:relative;
    width: 100%;
    background-color: rgba(249, 249, 249, 1);
}

.contents{
    padding-left: 35px;
    padding-right: 60px;
}

h1{
    padding-left: 10px;
    font-size: 28px;
    font-weight: 700;
}

.table-container{
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 21px;
    border-radius: 21px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 20px rgba(0, 0, 0, 0.1);
}

.container-contents{
    padding: 16px 30px 38px 30px;
    position: relative;
}

button{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(161, 98, 247, 1);
    border-radius: 10px;
    height: 33px;
    width: 120px;
    border: none;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 50px;
}

button:hover {
    color: white;
    box-shadow: 0 0 5px rgba(161, 98, 247, 1);
    background-color: rgba(161, 98, 247, 1);
}

button:active{
    background-color: rgb(137, 85, 206);
}

.table-top{
    height: 52px;
    position: absolute;
    width: 100%;
    max-width: inherit;
}

tr{
    height: 45px;
}

th{
    color: rgba(114, 118, 124, 1);
    font-weight: normal;
}

th, td {
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

footer {
    height: 75px;
    position: absolute;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
    width: 100%;
    bottom: 0;
}

h6{
    font-family: 'Outfit', sans-serif;
    color: rgba(0, 0, 0, 0.26);
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}
